<head>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet" />
	<style>
		@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap'); .font-family-karla { font-family: karla; }
	</style>
</head>

<body class="bg-white font-family-karla h-screen">
	<br /><p class="text-center text-5xl">Sales Dashboard</p>
	<br />
	<div class="container mx-auto px-4 py-8 space-x-4 text-center">
		<a href="/logout" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Logout</a>
	</div>

	<h2 class="text-3xl text-center font-normal leading-normal mt-0 mb-2 text-green-500">Active Inquries</h2>
	<table class="table table-striped border dark:border-neutral-500" style="margin-left: auto; margin-right: auto;">
		<thead class="border-b bg-neutral-800 font-medium text-white dark:border-neutral-500 dark:bg-neutral-900">
			<tr>
				<th class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">Name</th>
				<th class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">Email</th>
				<th class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">Phone</th>
				<th class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">Subject</th>
				<th class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">Action</th>
			</tr>
		</thead>

		<tbody>
			{{#each activeSalesInquiryList}}

				<tr class="border-b transition duration-300 ease-in-out hover:bg-neutral-100 dark:border-neutral-500 dark:hover:bg-neutral-600">
					<td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">{{customerName}}</td>
					<td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">{{customerEmail}}</td>
					<td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">{{customerPhoneNumber}}</td>
					<td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">{{subject}}</td>
					<td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500"><a href="/sales/generateaccount/{{_id}}" class="px-6 py-3 text-blue-100 no-underline bg-green-500 rounded hover:bg-blue-600 hover:underline hover:text-blue-200">Generate Credentials</a></td>
				</tr>

			{{/each}}
		</tbody>
	</table>

	<br />

	<h2 class="text-3xl text-center font-normal leading-normal mt-0 mb-2 text-red-500">Closed Inquries</h2>
	<table class="table table-striped border dark:border-neutral-500" style="margin-left: auto; margin-right: auto;">
		<thead class="border-b bg-neutral-800 font-medium text-white dark:border-neutral-500 dark:bg-neutral-900">
			<tr>
				<th class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">Name</th>
				<th class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">Email</th>
				<th class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">Phone</th>
				<th class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">Subject</th>
				<th class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">Action</th>
			</tr>
		</thead>

		<tbody>
			{{#each closedSalesInquiryList}}

				<tr class="border-b transition duration-300 ease-in-out hover:bg-neutral-100 dark:border-neutral-500 dark:hover:bg-neutral-600">
					<td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">{{customerName}}</td>
					<td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">{{customerEmail}}</td>
					<td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">{{customerPhoneNumber}}</td>
					<td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500">{{subject}}</td>
					<td class="whitespace-nowrap border-r px-6 py-4 font-medium dark:border-neutral-500"><a href="/sales/createprojectreq/{{_id}}" class="px-6 py-3 text-blue-100 no-underline bg-green-500 rounded hover:bg-blue-600 hover:underline hover:text-blue-200">Create Project Request</a></td>
				</tr>

			{{/each}}
		</tbody>
	</table>
</body>